@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="get" asp-controller="PartyOutfit" asp-action="Index">
    <input type="checkbox" name="onlyAvailable" value="true" onchange="this.form.submit();" />
    <label for="onlyAvailable">Only show available outfits</label>
</form>
